<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Root page</title>
</head>
<body>
    <h1>Welcome to the Root page!</h1>
    <p>Here you can...</p>
    <ul>
        <li>
            <a href="/unprotected/hello">Check unprotected hello page</a>
        </li>
        <li>
            <a href="/login">Login in your account</a>
        </li>
        <li>
            <a href="/register">Create a new account</a>
        </li>
        <li>
            <a href="/protected/profile">Check your profile</a>
        </li>
        <li>
            <a href="/logout">Log out</a>
        </li>
    </ul>
</body>
</html>